<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <body>
      <h1><%= park.name %></h1>
      <h2><%= park.about %></h2>
      <h3><%= park.city %></h3>
      <h3><%= park.weatherInfo %></h3>
      <h3><%= park.state %></h3>
      <h3><%= park.img %></h3>
      <a href="showalldetails/<%= parks.id %>">Add to Favorites</a>
    </body>
  </body>
</html>
