<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Trails</title>
  </head>
  <body>
   

  </body>
</html>


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>bulma cards</title>
        <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
        <!-- Bulma Version 0.9.0-->
        <link rel='stylesheet' href='https://unpkg.com/bulma@0.9.0/css/bulma.min.css'>
        <link rel="stylesheet" href="../css/kanban.css">
        <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    </head>
    <body>

<section class="hero is-info">

</section>

<section class="container">

    <div class="column is-narrow">
        <article class="message is-link">
            <div class="message-header">
                <p>All trails</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
                <div class="board-item">
                    <div class="board-item-content"><span><% trails.forEach(a =>{ %>
                        <% if(a.name ==='Laurel Falls Trail'){%>
                              <h4><a href="trails/<%= a.id %>"><%=a.name%></a></h4>
                              
                       <%  }%>
                      <% }) %></span></div>
                </div>
                <div class="board-item">
                    <div class="board-item-content"><span><% trails.forEach(a =>{ %>
                        <% if(a.name ==='Angels Landing Trail'){%>
                              <h4><a href="trails/<%= a.id %>"><%=a.name%></a></h4>
                              
                       <%  }%>
                      <% }) %></span></div>
                </div>
                <div class="board-item">
                    <div class="board-item-content"><span><% trails.forEach(a =>{ %>
                        <% if(a.name ==='Devils Bridge Trail'){%>
                              <h4><a href="trails/<%= a.id %>"><%=a.name%></a></h4>
                              
                       <%  }%>
                      <% }) %></span></div>
                </div>
                <div class="board-item">
                    <div class="board-item-content"><span><% trails.forEach(a =>{ %>
                        <% if(a.name ==='Emerald Lake Trail'){%>
                              <h4><a href="trails/<%= a.id %>"><%=a.name%></a></h4>
                              
                       <%  }%>
                      <% }) %></span></div>
                </div>
                <div class="board-item">
                    <div class="board-item-content"><span><% trails.forEach(a =>{ %>
                        <% if(a.name ==='Cathedral Rock Trail'){%>
                              <h4><a href="trails/<%= a.id %>"><%=a.name%></a></h4>
                              
                       <%  }%>
                      <% }) %></span></div>
                </div>
                <div class="board-item">
                    <div class="board-item-content"><span><% trails.forEach(a =>{ %>
                        <% if(a.name ==='Dellicate Arch Trail'){%>
                              <h4><a href="trails/<%= a.id %>"><%=a.name%></a></h4>
                              
                       <%  }%>
                      <% }) %></span></div>
                </div>
                <div class="board-item">
                    <div class="board-item-content"><span><% trails.forEach(a =>{ %>
                        <% if(a.name ==='Rattlesnake Ledge Trail'){%>
                              <h4><a href="trails/<%= a.id %>"><%=a.name%></a></h4>
                              
                       <%  }%>
                      <% }) %></span></div>
                </div>
                <div class="board-item">
                    <div class="board-item-content"><span><% trails.forEach(a =>{ %>
                        <% if(a.name ==='The Zion Narrows Riverside Walk'){%>
                              <h4><a href="trails/<%= a.id %>"><%=a.name%></a></h4>
                              
                       <%  }%>
                      <% }) %></span></div>
                </div>
                                <div class="board-item">
                    <div class="board-item-content"><span><% trails.forEach(a =>{ %>
                        <% if(a.name ==='Lake 22 Trail'){%>
                              <h4><a href="trails/<%= a.id %>"><%=a.name%></a></h4>
                              
                       <%  }%>
                      <% }) %></span></div>
                </div>
                                <div class="board-item">
                    <div class="board-item-content"><span><% trails.forEach(a =>{ %>
                        <% if(a.name ==='Eaton Canyon Trail'){%>
                              <h4><a href="trails/<%= a.id %>"><%=a.name%></a></h4>
                              
                       <%  }%>
                      <% }) %></span></div>
                </div>
                                <div class="board-item">
                    <div class="board-item-content"><span><% trails.forEach(a =>{ %>
                        <% if(a.name ==='Lower Yosemite Falls Trail'){%>
                              <h4><a href="trails/<%= a.id %>"><%=a.name%></a></h4>
                              
                       <%  }%>
                      <% }) %></span></div>
                </div>
                                <div class="board-item">
                    <div class="board-item-content"><span><% trails.forEach(a =>{ %>
                        <% if(a.name ==='Soldier Pass Trail'){%>
                              <h4><a href="trails/<%= a.id %>"><%=a.name%></a></h4>
                              
                       <%  }%>
                      <% }) %></span></div>
                </div>
                                                <div class="board-item">
                    <div class="board-item-content"><span><% trails.forEach(a =>{ %>
                        <% if(a.name ==='Grinnell Glacier Trail'){%>
                              <h4><a href="trails/<%= a.id %>"><%=a.name%></a></h4>
                              
                       <%  }%>
                      <% }) %></span></div>
                </div>
                                                                <div class="board-item">
                    <div class="board-item-content"><span><% trails.forEach(a =>{ %>
                        <% if(a.name ==='Gem Lake Trail'){%>
                              <h4><a href="trails/<%= a.id %>"><%=a.name%></a></h4>
                              
                       <%  }%>
                      <% }) %></span></div>
                </div>
                                                                <div class="board-item">
                    <div class="board-item-content"><span><% trails.forEach(a =>{ %>
                        <% if(a.name ==='Donut Falls Trail'){%>
                              <h4><a href="trails/<%= a.id %>"><%=a.name%></a></h4>
                              
                       <%  }%>
                      <% }) %></span></div>
                </div>
                                                                <div class="board-item">
                    <div class="board-item-content"><span><% trails.forEach(a =>{ %>
                        <% if(a.name ==='The Incline Trail'){%>
                              <h4><a href="trails/<%= a.id %>"><%=a.name%></a></h4>
                              
                       <%  }%>
                      <% }) %></span></div>
                </div>
            </div>
        </article>
    </div>
    
    
    
</div>
</div>
</section>
<div class="columns is-mobile is-centered">
<div class="column is-half is-narrow"></div>
</div>
<footer>

</footer>
<script src="../js/bulma.js"></script>
</body>
</html>
