<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-image: url("https://cdn.wallpapersafari.com/43/90/1Lp92s.png");
      }
      .show {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div class="show">
      <label for="fname">Name</label>
      <h1><%= trail.name %></h1>
      <label for="lname">Length</label>
      <h2><%= trail.length %></h2>
      <label for="lname">Difficulty</label>
      <h3><%= trail.difficulty %></h3>
      <a href="/trails/edit/<%= trail.id %>">Edit Trail</a>
      <br />
      <br />
      <a href="/favorite/index/<%= trail.id %>">Add to the favorites</a>
    </div>
  </body>
</html>
