
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>bulma cards</title>
        <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
        <!-- Bulma Version 0.9.0-->
        <link rel='stylesheet' href='https://unpkg.com/bulma@0.9.0/css/bulma.min.css'>
        <link rel="stylesheet" href="../css/kanban.css">
        <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
        <style>
            body{
                background-image: url('https://media.istockphoto.com/videos/blue-and-light-blue-gradient-background-beautiful-color-loop-material-video-id1277748423?b=1&k=20&m=1277748423&s=640x640&h=5xme0BhYS8gxSzXg9m2dXVjb24YtvXcVwyZRR0Xw0WU=');
            }
        </style>
    </head>
    <body>

<section class="hero is-info">

</section>

<section class="container">

   
        <article class="message is-link">
            <div class="message-header">
                <p>All states</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            
               
                    <div class="board-item-content"><span><% states.forEach(a =>{ %>
                        <% if(a.name ==='CA'){%>
                              <h4><a href="states/<%= a.id %>"><%=a.name%></a></h4>
                              
                       <%  }%>
                      <% }) %></span></div>
                </div>
                
                    <div class="board-item-content"><span><% states.forEach(a =>{ %>
                        <% if(a.name ==='KY'){%>
                              <h4><a href="states/<%= a.id %>"><%=a.name%></a></h4>
                              
                       <%  }%>
                      <% }) %></span></div>
                </div>
                <div class="board-item-content"><span><% states.forEach(a =>{ %>
                    <% if(a.name ==='NY'){%>
                          <h4><a href="states/<%= a.id %>"><%=a.name%></a></h4>
                          
                   <%  }%>
                  <% }) %></span></div>
           
              
                    <div class="board-item-content"><span><% states.forEach(a =>{ %>
                        <% if(a.name ==='WA'){%>
                              <h4><a href="states/<%= a.id %>"><%=a.name%></a></h4>
                              
                       <%  }%>
                      <% }) %></span></div>
                </div>
                
                    <div class="board-item-content"><span><% states.forEach(a =>{ %>
                        <% if(a.name ==='OR'){%>
                              <h4><a href="states/<%= a.id %>"><%=a.name%></a></h4>
                              
                       <%  }%>
                      <% }) %></span></div>
                </div>
                <div class="board-item-content"><span><% states.forEach(a =>{ %>
                    <% if(a.name ==='NV'){%>
                          <h4><a href="states/<%= a.id %>"><%=a.name%></a></h4>
                          
                   <%  }%>
                  <% }) %></span></div>
            </div>
                <div class="board-item">
                    <div class="board-item-content"><span><% states.forEach(a =>{ %>
                        <% if(a.name ==='UT'){%>
                              <h4><a href="states/<%= a.id %>"><%=a.name%></a></h4>
                              
                       <%  }%>
                      <% }) %></span></div>
                </div>
                <div class="board-item">
                    <div class="board-item-content"><span><% states.forEach(a =>{ %>
                        <% if(a.name ==='AZ'){%>
                              <h4><a href="states/<%= a.id %>"><%=a.name%></a></h4>
                              
                       <%  }%>
                      <% }) %></span></div>
                </div>
                                <div class="board-item">
                                    <div class="board-item-content"><span><% states.forEach(a =>{ %>
                                        <% if(a.name ==='TX'){%>
                                              <h4><a href="states/<%= a.id %>"><%=a.name%></a></h4>
                                              
                                       <%  }%>
                                      <% }) %></span></div>
                                </div>
                                <div class="board-item">
                                    <div class="board-item-content"><span><% states.forEach(a =>{ %>
                                        <% if(a.name ==='MN'){%>
                                              <h4><a href="states/<%= a.id %>"><%=a.name%></a></h4>
                                              
                                       <%  }%>
                                      <% }) %></span></div>
                                </div>
                                <div class="board-item">
                                    <div class="board-item-content"><span><% states.forEach(a =>{ %>
                                        <% if(a.name ==='NM'){%>
                                              <h4><a href="states/<%= a.id %>"><%=a.name%></a></h4>
                                              
                                       <%  }%>
                                      <% }) %></span></div>
                                </div>
                                <div class="board-item">
                                    <div class="board-item-content"><span><% states.forEach(a =>{ %>
                                        <% if(a.name ==='CO'){%>
                                              <h4><a href="states/<%= a.id %>"><%=a.name%></a></h4>
                                              
                                       <%  }%>
                                      <% }) %></span></div>
                                </div>
                                                <div class="board-item">
                                                    <div class="board-item-content"><span><% states.forEach(a =>{ %>
                                                        <% if(a.name ==='SD'){%>
                                                              <h4><a href="states/<%= a.id %>"><%=a.name%></a></h4>
                                                              
                                                       <%  }%>
                                                      <% }) %></span></div>
                                                </div>
                                                                <div class="board-item">
                                                                    <div class="board-item-content"><span><% states.forEach(a =>{ %>
                                                                        <% if(a.name ==='OH'){%>
                                                                              <h4><a href="states/<%= a.id %>"><%=a.name%></a></h4>
                                                                              
                                                                       <%  }%>
                                                                      <% }) %></span></div>
                                                                </div>
                                                                <div class="board-item">
                                                                    <div class="board-item-content"><span><% states.forEach(a =>{ %>
                                                                        <% if(a.name ==='GA'){%>
                                                                              <h4><a href="states/<%= a.id %>"><%=a.name%></a></h4>
                                                                              
                                                                       <%  }%>
                                                                      <% }) %></span></div>
                                                                </div>
                                                                <div class="board-item">
                                                                    <div class="board-item-content"><span><% states.forEach(a =>{ %>
                                                                        <% if(a.name ==='NC'){%>
                                                                              <h4><a href="states/<%= a.id %>"><%=a.name%></a></h4>
                                                                              
                                                                       <%  }%>
                                                                      <% }) %></span></div>
                                                                </div>
            </div>
        </article>

    
    
    
</div>
</div>
</section>

</div>

<script src="../js/bulma.js"></script>
</body>
</html>